@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&family=Press+Start+2P&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}
.babyTitle {
  color: lime;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 3px;
  font-weight: bolder;
  margin-top: 35px;
}

.searchInput {
  margin-top: 30px;
  display: inline-block;
}

.searchTerm {
  width: 30%;
  border: 3px solid #00b4cc;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.square {
  width: 25px;
  height: 25px;
  margin: 10px;
}
.container {
  border: 2px double;
  margin-top: 3%;
  padding: 40px;
}
.btn-pink,
.btn-blue {
  margin: 1px;
  color: white;
}

.btn-blue,
.square-blue {
  background-color: rgb(71, 71, 223);
}

.btn-pink,
.square-pink {
  background-color: rgb(190, 22, 78);
}
.square-pink-and-blue {
  width: 55px;
  height: 28px;
  margin: 10px;
  background-color: red;
  background-image: linear-gradient(
    to right,
    rgb(71, 71, 223) 50%,
    rgb(190, 22, 78) 50%
  );
}

.favourites {
  font-style: italic;
  font-family: "Dancing Script", cursive;
  border: 2px solid;
  margin: 20px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: left;
  padding-top: 17px;
  padding-left: 20px;
  font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(15, 173, 226);
  }

  .favourites {
    font-style: italic;
    border: 2px solid;
    margin: 2px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 1.5rem;
  }

  .searchTerm:focus {
    color: #5c6e1cec;
  }

  .searchTerm {
    width: 30%;
    border: 3px solid #5c6e1cec;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  body {
    background-color: rgba(43, 48, 14, 0.192);
  }

  .favourites {
    margin-left: 200px;
    margin-right: 200px;
    color: white;
  }
}
